@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model Cat
    
    
    <h1>@Model.Name </h1>
    <h2>@Model.Age </h2>
    <h3>@Model.Breed</h3>
    <img src="@Model.URL" alt="@Model.Name" style="width:300px"/>
    
}
